<IfModule mod_suphp.c>
 suPHP_ConfigPath /home/mypartys/public_html/dev


<Files php.ini>
   order allow,deny
   deny from all
 </Files>
</IfModule>

# remove www

#RewriteEngine On

#RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#RewriteRule ^ http://%1%{REQUEST_URI} [NE,R=301,L]

#RewriteCond %{HTTP_HOST} ^(www\.)?mypartyshoponline\.com$
#RewriteRule !^dev/ /dev%{REQUEST_URI}  [L]

#RedirectMatch 301 /dev/(.*) /$1

#RewriteBase /dev/

#Options +SymLinksIfOwnerMatch