.blog-htabs a {
	border: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
}
.blog-htabs {
    margin: 0 0 0 20px;
}
.boss_content{
    margin-bottom:20px;
    overflow:hidden;
}
.boss_content h3{
    float:left;
    margin-right:10px;
    
}